body {
    font-family: arial;
}

#icon {
    height: 92px;
    width: 272px;
}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    width: 100%;
    flex-basis: auto;
    padding: 15px;
}