html {
    height: 100%;
    border: solid 1px red;
}

body {
    min-height: 100%;
    margin: 0 auto;
    font-family: arial;
    font-size: 13px;
    border: solid 1px black;
}

#icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92px;
    width: 272px;
    padding-top: 109px;
    border: solid 1px blue;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    border: solid 1px green;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: solid 5px pink;
}

.nav-linksr {
    border: solid 1px grey;
}

.nav-linksl {
    border: solid 1px darkorchid;
}

.searchdiv {
    width: 100px;
    border: solid 1px lightblue;
}

#search {
    margin: 9px 0;
    color: #9AA0A6;
}

.search{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 582px;
    height: 44px;
    text-align: center;

}

.mic {
   margin: 9px 0;
}

.button {
    border: solid 1px orangered;
}